<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="ChromeBrowser" value="../SMproject/chromedriver.exe"></parameter>
<parameter name="url" value="http://www.youtube.com"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.TestScripts_YTFramework.TC6"/>
      <class name="org.testing.TestScripts_YTFramework.TC5"/>
      <class name="org.testing.TestScripts_YTFramework.TC8"/>
      <class name="org.testing.TestScripts_YTFramework.TC7"/>
      <class name="org.testing.TestScripts_YTFramework.TC2"/>
      <class name="org.testing.TestScripts_YTFramework.TC1"/>
      <class name="org.testing.TestScripts_YTFramework.TC4"/>
      <class name="org.testing.TestScripts_YTFramework.TC3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
